<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Grocery Webapp</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div style="background-image: url('https://images.app.goo.gl/78Lj2Zcvy2QcbWPd8');"/>
<!--<img src="../img/fruits.jpg" alt="fruits" width="128" height="128">-->
<img src="../static/css/img/fruits.jpg" alt="fruits" th:src="@{/img/fruits.jpg}">

<div class="container">
    <div class="wrapper">
        <h1>Welcome to your Grocery List!</h1>
<p>Click <a th:href="@{/login}">here</a> to login.</p>
    </div>
</div>
</body>
</html>
