<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Grocery - Signup</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<form th:action="@{/signup}" method="post">
    <div><label> Username : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>